

/* Lesson 17: colors-gradient.html

#colors {
  width: 300px;
  height: 250px;
  background: linear-gradient(45deg, black, white, rgba(230,245,84,0.5));
} */

/* Lesson 16: colors-gradient.html

#colors {
  width: 300px;
  height: 250px;
  color: blue;
  background-color: rgba(230,245,84,0.2);
} */

/* Lesson 15: fonts.html

* {
  font-size: 100%;
}

p {
  font-size: 2.5em;
  font-family: 'Itim', cursive;
} */


/* Lesson 14: fonts.html

* {
  font-size: 100%;
}

@fontface {
  font-family: roboto_condensed_light;
  src: url(robotocondensed-light-webfont.woff);
}

p {
  font-size: 2.5em;
  font-family: roboto_condensed_light;
} */

/* Lesson 13: fonts.html

* {
  font-size: 100%;
}

p {
  font-family: Arial, Verdana, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-style: italic;
  font-size: 2.5em;
} */

/* Lesson 12: border-radius.html

#block {
  background-color: blue;
  width: 300px;
  height: 350px;
  border-top-left-radius: 30px;
} */

/* Lesson 11: overflow-opacity.hmtl

#content {
  background-color: red;
  width: 300px;
  height: 70px;
  overflow: auto;
}

#content p {
  opacity: 0.5;
} */

/* Lesson 10: box-properties.html

* {
  box-sizing: border-box;
}

#content {
  background-color: red;
  width: 300px;
  padding: 20px;
  box-shadow: 10px 10px 4px blue;
} */

/* Lesson 08-09: texts.html

p {
  color: red;
  text-indent: 20px;
  line-height: 25px;
  direction: ltr;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-shadow: 3px 3px 4px blue;
}

h1 {
  text-align: left;
  text-decoration: underline;
}

h2 {
  text-align: right;
  text-decoration: overline;
}

h3 {
  text-align: center;
  text-decoration: line-through;
} */

/* Lesson 07: margin-padding.html

#example {
  background-color: green;
  color: #fff;
  width: 500px;
  padding: 10px 20px 30px 30px;
}

#example2 {
  background-color: red;
  color: #fff;
  width: 500px;
  margin: 10px 20px 30px 30px;
} */

/* Lesson 06: dimension.html
#content {
  min-width: 500px;
  min-height: 30px;
  background-color: green;
  color: #fff;
  padding: 20px;
} */

/* Lesson 05: class-id.html

.main-text {
  color: red;
  text-align: center;
}

.main-background {
  background-color: green;
  padding: 20px;
}

#content {
  background-color: blue;
  padding: 20px;
  color: green;
} */

/* Lesson 04: grouping-selectors.html
h1,
h2,
p {
  color: red;
  text-align: center;
} */

/* Lesson 03: selectors.html

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: blue;
  font-size: 50px;
}

p {
  color: green;
  font-size: 12px;
}

input[type='text'] {
  width: 200px;
  background-color: #ccc;
  height: 35px;
  border: none;
}

input[type='email'] {
  width: 200px;
  background-color: #ccc;
  height: 35px;
  border: none;
}

input[type='submit'] {
  width: 50px;
  background-color: green;
  height: 35px;
  border: none;
  cursor: pointer;
  color: #fff;
} */

/* Lesson 02: applyingcss.html
h1 {
  color: blue;
  font-size: 40px;
  font-family: sans-serif;
}
*/
